<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper deep-purple">
				<a href="/" class="brand-logo">Lista de eventos </a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn deep-purple"
						href="/eventos"> <i class="material-icons left">assignment</i>Eventos
					</a></li>
					<li><a class="waves-effect waves-light btn deep-purple"
						href="/cadastroEvento"> <i class="material-icons left">
								add</i>Adicionar Evento
					</a></li>
		
				</ul>
			</div>
		</nav>
	</header>
</body>
</html>